.testimonials-section {

    overflow-y: hidden;

    box-shadow: inset 0 0px 120px rgba(148, 82, 44, .6);

    position: relative;

    overflow: hidden;
    border-radius: 1rem;
    margin-inline: 1rem;
    margin-bottom: 4rem;
    padding-block: 3rem;

    background: linear-gradient(var(--primarna3), var(--primarna2));

    padding-bottom: 6rem;

    h2 {
        margin-bottom: 1rem;
        z-index: 4;
        position: relative;
    }

    p {
        text-align: center;
        max-width: 480px;
        margin-inline: auto;
        margin-bottom: 4rem;
        z-index: 4;
        position: relative;
    }
}


.grid-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 120px 120px;
    /* mix-blend-mode: difference; */
}



.embla_slide-content {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    padding: 2rem;
    box-shadow: 0 10px 60px rgba(148, 82, 44, 0.4);
    transition: .3s;
    cursor: grab;
    user-select: none;

    &:hover {
        transform: scale(1.01);
    }

    &:active {
        cursor: grabbing;
    }
}

.test-name-img {
    display: flex;
    height: min-content;
    align-items: center;
    margin-bottom: 1rem;

    text-align: left;
    gap: 1rem;


    p {
        padding: 0;
        margin: 0;
        margin-bottom: .5rem;
        color: var(--grey0);
    }

    .test-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.test-content {
    color: var(--grey-1);
}




.testimonial-img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: orange;
    background-position: center center;
    background-size: cover;
    border-radius: 99999px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


/* follow */

.how-to-limiter {
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 400px;
    height: 100%;
    overflow: hidden;
}


.bg-folow-mouse {
    position: absolute;
    z-index: 0;
    background-color: var(--primarna0);
    width: 600px;
    height: 600px;
    border-radius: 9999px;
    filter: blur(120px);
    opacity: .5;
    rotate: 45deg;

    &:after {
        position: absolute;
        content: "";
        inset: 50px;
        background-color: rgb(255, 237, 213);
    }
}

.over-bg {
    position: relative;
    z-index: 3;
}

.h0-testimonials {
    max-width: 100%;
    height: 0px;
    position: relative;
    text-align: center;

    span {
        position: relative;
        z-index: 2;
        color: var(--primarna-3);
        font-size: 6rem;
        transform: translate(8rem, -1rem) rotate(-30deg);
        animation: swipe-loop infinite 2s alternate;
    }
}

@keyframes swipe-loop {
    0% {
        transform: translate(8rem, -1rem) rotate(-30deg);
    }

    100% {
        transform: translate(12rem, -2rem) rotate(0deg);
    }

}

.h0-test-top {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    height: 0px;
    position: relative;
    display: flex;
    justify-content: center;

    .image-quotes {
        position: absolute;
        right: 0;
        margin-inline: 1rem;
        z-index: 2;
        background-image: url(../../images/quotes.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 160px;
        height: 160px;
        transform: translate(0, -8rem) rotate(-6deg);

        @media (max-width: 900px) {
            filter: blur(4px);
            opacity: .5;
        }
    }

    &.h0-reverse {
        z-index: 0;

        .image-quotes {
            z-index: 0;
            left: 0;
            transform: translate(0, -3rem) rotate(-6deg) scale(-1, 1);
            filter: blur(3px);
        }
    }
}

.pt-malce {
    margin-top: 8rem;
}

/*  */


.milestones-grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    @media (max-width: 1100px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}


.milestone-card {
    border-radius: 1rem;
    background: linear-gradient(rgb(245, 233, 223), rgb(223, 194, 167));

    padding: 2rem;
    box-shadow: 0 10px 60px rgba(148, 82, 44, 0.4);
    transition: .3s;

    text-align: center;

    transform: translateY(200px) scale(1);

    animation: none;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-weight: 900;
        color: var(--primarna-3);

        margin-bottom: 1rem;
        font-size: 1.1rem;

        h3 {
            font-size: 4rem;
            background: linear-gradient(var(--primarna-1), var(--black));
            color: transparent;
            background-clip: text;
        }
    }

    .btm-txt {
        color: var(--grey-2);
    }

}

.milestone-card.visible {
    animation: milestones-popup 1s cubic-bezier(.22, 1, .36, 1) both;
    transition: .3s;

    &:hover {
        transform: translateY(0px) scale(1.01) !important;
    }
}


@keyframes milestones-popup {
    0% {
        transform: translateY(200px) scale(1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}